{{ define "footer" -}}
<script src="assets/js/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<script>var exports = {};</script>
<script src="assets/js/xapian/xapianapi.js" type="text/javascript"></script>
<script src="assets/js/xapian/xapianasm.js" type="text/javascript"></script>
<script src="assets/js/beezim.js" type="text/javascript"></script>
<script type="text/javascript">
	if (!window.indexedDB) {
		console.log("Your browser doesn't support a stable version of IndexedDB. The embed search engine may not work properly.");
	}

	var Searcher
	Module.onRuntimeInitialized = async function () {
		// Pass the relative path of the index to be loaded into the IDBFS
		Searcher = await BeeZIMSearcher.Init("./X/fulltext/xapian");
		if (Searcher) {
			await Searcher.LoadFiles();

			var searchResultsBox = document.getElementById("typeahead-suggestions");
			function handleSearch(query, max) {
				searchResultsBox.innerHTML = '';
				let result = Searcher.Search(query);
				let maxResults = max == undefined ? result.length : Math.min(max, result.length);
				for (let i = 0; i < maxResults; i++) {
					searchResultsBox.innerHTML +=
						getSuggestionLink(result[i].data, result[i].title);
				}
			}
			function getSuggestionLink(path, title) {
				return '<a class="suggestion-link" target="iframe-zim" href="' +
					path + '"><p class="suggestion-text">' +
					title + '</p></a>';
			}

			function randomArticle() {
				document.getElementById("iframe-zim").src = Searcher.GetRandomArticle().Path;
			}

			document.getElementById("randomArticle").onclick = function (e) {
				randomArticle()
			}

			document.getElementById("searchButton").onclick = function (e) {
				location.href = "searchresult.html?q="+
					encodeURIComponent(document.getElementById("searchInput").value);
			}

			document.getElementById("searchInput").addEventListener("keyup", function (e) {
				if (e.code == "Enter") {
					location.href = "searchresult.html?q="+encodeURIComponent(this.value);
					return;
				}
				handleSearch(this.value, 10);
			});

			document.getElementById("iframe-zim").onload = function (e) {
				searchResultsBox.innerHTML = "";
				this.contentWindow.document.body.onclick = function () {
					searchResultsBox.innerHTML = "";
				}
			}

			window.addEventListener("click", function (e) {
				if (e.target.id !== "searchButton") {
					searchResultsBox.innerHTML = "";
				}
			})
		}
	}
</script>
{{ end }}