{{ define "main" -}}
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="https://github.com/r0qs/beezim">BeeZIM</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="index.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .MainURL }}">Full Page</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="files.html">Files</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="about.html">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/r0qs/beezim">Github</a>
				</li>
			</ul>
			<div id="rightPart">
				<input autocomplete="off" id="searchInput" class="inline" type="search" placeholder="Search" aria-label="Search">
				<button id="searchButton" class="btn btn-outline-dark inline" type="submit">Search</button>
				<ul class="navbar-nav mb-2 mb-md-0 inline" >
					<li class="nav-item">
						<a class="nav-link" href="#" id="randomArticle">Random Article</a>
					</li>
				</ul>
				<div id="typeahead-suggestions"></div>
			</div>
		</div>
	</div>
</nav>

<main id="main">
	{{ template "content" . }}
</main>
{{ end }}