<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Swarm Wikipedia Zim for {{ .Path }} </title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div>
      <h1>File not found.</h1>
    </div>

    <div id="footer">
      <div class="container">
      </div>
    </div>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>