<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Swarm Zim Mirror of {{ .File }}</title>
  <!-- TODO: minify files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/beezim.css" rel="stylesheet">
  <style>
    /* TODO: adjust layout */
    body {
      margin: 0;
      padding: 0;
    }
    </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div style="margin-bottom: 10px;">
      <form style="display:inline" class="navbar-form navbar-right" role="form" action="/search/">
        <input type="text" class="form-control" name="search_data" id="search_data" placeholder="Search...">
      </form>
      <!-- Add a Home, Full Page, About, Github icon -->
      <p style="display:inline" ><a href={{ .MainURL }}>Full Page</a> <a href="https://github.com/r0qs/beezim">Beezim</a></p>
    </div>
  </nav>
  <div class="container" style="height: 94vh; width:100%; margin:0;">
    <!-- TODO: browse available pages when there is no mainpage -->
    <iframe id="inlineFrameExample" title="Inline Frame Example" height="100%" width="99.8%" src="{{ .MainURL }}"></iframe>
  </div>
	<script src="/assets/js/beezim.js" type="text/javascript"></script>
  <script src="/assets/js/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="/assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>

</html>