{{ define "content" -}}
<div class="container p-5">
  <h2>Search results for query: <span id="query" style="font-weight: bold"></span></h2>
  <ol id="searchresult">

  </ol>
</div>
<script>
  let searchresult = document.getElementById("searchresult");
  document.addEventListener('DOMContentLoaded', async function(e) {
    let query = decodeURIComponent(window.location.search.substring(3));
    document.getElementById("searchInput").value = query;
    document.getElementById("query").innerHTML = query;
    Searcher = await BeeZIMSearcher.Init("./X/fulltext/xapian");
		if (Searcher) {
      let result = Searcher.IndexSearch(query);
      for (let i = 0; i < result.length; i++) {
        let text = await Searcher.GetTextContent(result[i].data)
        searchresult.innerHTML += "<li><a href='"+result[i].data+"'>"+
          result[i].title+"</a>. Wordcount: "+result[i].wordcount+
          "<br>"+text.substring(0,275)+".....</li>";
      }
    }

});
</script>
{{ end -}}